<section class="login parent">
  <div class="element">
    <div class="login__form-container">
      <h1 class="title" layout-align="center">Recuperar Contraseña</h1>
      <md-input-container class="input-wrap">
        <label class="input-wrap__label" for="email">Email</label>
        <input class="input-wrap__input" type="text" name="email" ng-model="$ctrl.userData.email" required>
      </md-input-container>

      <div class="link-action">
        <a href="#" class="link-action__link-element" ng-click="$ctrl.resetPassword()">Recuperar Contraseña</a>
      </div>
    </div>
  </div>
  <div class="about-event element"></div>
</section>
