# General stuffs
.DS_Store

# Initial layout generated directories
.temporal
build
client/app/templates.js

# Node stuffs directories
npm-debug.log
node_modules

#Firebase
.firebaserc
firebase-debug.log
client/firebase-config.js

# Visual Studio Code
.vscode