@import 'common'
@import '_home'
@import 'components'
    
background-color = radial-gradient(circle at 50% 100%, #02afe2, #0177c1)

_white = #FFFFFF
_button-text = #0177c1
_background-fb = #39579a
_input-text = rgba(255, 255, 255, 0.5)

h1,h2,h3
  color _white
  text-align center

.title
  font-size 2.75em
  font-weight 300
.parent
  display flex
.element
  flex 1
  display flex
  align-items center
/*Input form */
.input-wrap
  width 80%
  margin-left 10%
  &__input
    color rgba(255, 255, 255, 0.5)
/*button form */
.button_login
  text-align center
  &__content
      color _white
      width 80%

.login
  background-image  background-color
  min-height 100%
  &__form-container
    max-width 29em
    margin 0 auto
  .about-event
    display none

#login_btn
  color _button-text
#facebook_btn
  color _white
  background-color _background-fb 

/*secondary action links*/
.link-action
  text-align center
  &__link-element
    color _white
    letter-spacing: 0.6px;


@media screen and (min-width: 768px)
  .login
    .about-event
      background-image url(../img/general-event.jpg)
      background-size cover
      background-repeat no-repeat
      background-position center
      display block
      margin 0


