background-color = radial-gradient(circle at 50% 100%, #02afe2, #0177c1)

html, body
    background-image  background-color

h1,h2,h3
    color white
    text-align center

.input-content
    align center