background-color = radial-gradient(circle at 50% 100%, #02afe2, #0177c1)

html, body
    background-image  background-color

h1,h2,h3
    color white
    text-align center

.button_login
    text-align center
    &__content
        width 80%

.input_container
    width 80%
    margin-left 10%

@media all and (min-width: 450px) 
    .button_login
    &__content
        width 40%
    .input_container
        width 40%
        margin-left 2%    