html, body
  font-size 16px
  min-height 100%
  

[ui-view]
  height 100%

.main-container
  padding-top 91px
  height calc(100% - 91px)

@media only screen and (min-width: 48em)
  .align
    margin 0 auto
    max-width 48em
    
@media only screen and (min-width: 75em)
  .align
    max-width 75em