<section class="home-header">
    <div class="home-header__left">
        <img src="../../../img/gdg-cochabamba-o.png" class="logo-gdg">
        <img src="../../../img/gdg-cochabamba-w.png" class="logo-gdg-w">
    </div>
    <nav class="nav-main">
        <ul>
            <li><a href="#"><span class="icon-home" ></span><br>Home</a></li>
            <li><a href="#"><span class="icon-event" ></span><br>Eventos</a></li>
            <li><a href="#"><span class="icon-profile" ></span><br>Perfil</a></li>
        </ul>
    </nav>
    <div class="home-header__right">
        <div class="button">
            <a href="#">
                <md-button class="button__content md-raised" type="submit">
                  Registrate
                </md-button>
            </a>
            <a href="#">
                <md-button class="button__content md-raised" type="submit">
                  Login
                </md-button>
            </a>
        </div>
        <div class="hello" style="display: none">
            <span>Nadir Esdenca &nbsp;</span><br>
            <a href="#">Logout</a>
        </div>
    </div>
</section>
<section class="home-content">
    <div class="event-main">
        <h1> International Women's Day 2017</h1>
        <p><span class="date"></span> 25 de Marzo</p>
        <p><span class="location"></span>Universidad Mayor de San Sim&oacute;n</p>
        <p></p>
        <div class="button">
            <a class="button__icon" href="#">
                <span></span><br>
                  Quiero Ir!
            </a>
        </div>
        <p></p>
    </div>
</section>