<section class="home-content">
  <div class="home-content__layer">
    <div class="align">
      <div class="event-main">
          <h1> International Women's Day 2017</h1>
          <p><span class="date"></span> 25 de Marzo</p>
          <p><span class="location"></span>Universidad Mayor de San Sim&oacute;n</p>
          <p></p>
          <div class="button">
              <a class="button__icon" ui-sref="eventDetail({ eventSlug: 'international-womens-day-2017' })">
                  <span></span><br>
                    Quiero Ir!
              </a>
          </div>
          <p></p>
      </div> 
    </div>
  </div>
</section>