<div class="align">
  <div class="attend-to">
    <header>
      <h2>Muchas gracias por participar de nuestro evento International Women's Day 2017!!</h2>
      <p>Aquí podras escoger la forma de pago y ver el estado de tu inscripción</p>
    </header>
    <section class="attend-to__payment-method">
      <h5>Metodos de pago</h5>
      <md-radio-group ng-model="$ctrl.event.paymentMethod" ng-change="$ctrl.changePaymentMethod()" >
        <md-radio-button value="cash">Efectivo</md-radio-button>
        <md-radio-button value="transfer">Transferencia bancaria</md-radio-button>
        <md-radio-button value="deposit">Deposito en banco</md-radio-button>
      </md-radio-group>
      <h5>Estado de inscripción</h5>
      <md-icon>person</md-icon>{{ $ctrl.event.status | uppercase }}
      <br>
      <br>
      <h5>¿Como sabre el estado de mi inscripción?</h5>
      <p>Luego de realizado el pago con cualquiera de los metodos anteriores, el "Estado de inscripción" cambiara a confirmado luego de verificar el pago.</p>
      <br>
      <h5>¿Cuanto debo pagar? y ¿Donde debo pagar?</h5>
      <p>El costo es de &nbsp;<strong>20bs</strong></p>
      <p>
        Si escoges "Efectivo", deberas ponerte en contacto con: <br>

        <ul>
          <li>
            <strong>Moka Mint:</strong>&nbsp;&nbsp; Av. America 435 (America casi Santa Cruz) - Edificio Jaque - Piso 5, Oficina 10. En los horarios de&nbsp;<strong>Lunes a Viernes 11:00 a 19:00</strong>
          </li>
          <li><strong>Mensaje por Whatsapp a Organizadores:</strong>&nbsp;&nbsp; 75912044</li>
        </ul>
      </p>

      <p>Si escoges "Transferencia bancaria" o "Deposito en banco", puedes enviarlo a la siguiente cuenta: <br>
        <ul>
          <li><strong>Nombre del beneficiario:</strong>&nbsp;&nbsp;Julio Cesar Silva Guzman</li>
          <li><strong>Numero de cuenta del beneficiario:</strong>&nbsp;&nbsp;439161-401-1</li>
          <li><strong>No te olvides de agregar el comprobante mas abajo</strong></li>
        </ul>
        
      </p>
      <br>      
    </section>
    <br>
    <hr>
    <br>
    <section class="attend-to__image">      
      <h3>Agregar comprobante de pago</h3>
      <p>Si escogiste "Transferencia bancaria" o "Deposito en banco", sera necesario que agregues una foto del voucher de deposito o captura de pantalla de la transferencia. </p>
      <input name="file" type="file" onchange="angular.element(this).scope().uploadImage(this)" >

      <div ng-show="$ctrl.event.image" >
        <h4>Ultima imagen agregada</h4>
        <img class="attend-to__photo" ng-src="{{ $ctrl.event.image }}" alt="">
      </div>
      
    </section>
    <br>
    <hr>
    <br>
  </div>  
</div>