<section class="login parent">
    <div class="element">
        <div class="login__form-container">
            <h1 class="title" layout-align="center">Editar Perfil</h1>
            <profile-form profile="$ctrl.profile" submit-text="Editar Perfil" on-action="$ctrl.edit()" show-user-fields="$ctrl.showEditUserInfo">
            </profile-form>
            <div class="button_login">
                <md-button class="md-raised button_login__content" type="button" ng-click="$ctrl.resetPassword();" ng-disabled="!$ctrl.profile">
                    Recuperar password.
                </md-button>
            </div>
        </div>
    </div>
    </div>
    <div class="about-event element">
    </div>
</section>